.CartButton{
    padding: 0.5rem;
    width: 5rem;
    color: white;
    background-color: brown;
    border-color: rgb(232, 28, 28);
    border-radius: 7px;
    cursor: pointer;
}
.CartButton:hover{
    background-color: rgb(67, 0, 0);
    border-color: rgb(65, 3, 3);
}