.items {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin: 1rem;
  margin-bottom: 2rem;
}

.item-details {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.item-title {
  text-align: center;
}

.price-add-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

Button {
  margin-left: 56px;
}
