.about{
    background-color: rgb(11, 11, 11);
    margin-bottom: 0.5rem;
}

.about h1{
    text-align: center;
    color: white;
}

.about-image {
  position: relative;
  margin-top: 2rem;
  left: 39%;
  width: 300px;
  height: 300px;
  border-radius: 83rem;
}
.about-paragraph{
    color: white;
    margin: 2rem 15rem 0  15rem;
    text-align: justify;
    font-style: italic;
    font-weight: 700;
}