
*{
    margin: 0;
    padding: 0;
}
.header-elements {
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 2, 255);
  padding: 1.5rem;
  color: white;
  align-items: center;
}

.header-element {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.header-element:hover{
    text-decoration: 900;
    color: rgb(248, 216, 176);
    text-decoration:underline;
}
  
