.cart-elements{
    background-color: white;
    color: black;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto  ;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;
}
.cart-list-image{
    width: 10rem;
    height: 10rem;
}

.cart-table{
    margin-top: 1rem;
    padding: 1rem;
}
.cart-table tr td{
    width: 37vw;
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 1rem;
}

.cart-headings{
    display: flex;
    justify-content: space-evenly;
}
.cart-element-title{
    font-size: large;
    font-weight: 900;
} 
.zero-cart-item{
    color: white;
}