.Button {
  left: -15%;
  padding: 0.5rem;
  border-radius: 7px;
  border-color: white;
  cursor: pointer;
  border: 1px solid black;
  background-color: black; /* or any other RGB color value */
  color: white;
}
.Button:hover{
    background-color: black; /* or any other RGB color value */
    color: white;
}
