.items {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  justify-content: space-around;
  margin-bottom: 2rem;
  background-color: white;
  color: black;
}

.item-title {
  margin-top: 0.5rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.price-add-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.item-image{
  width: 230px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
}
.item-price{
  font-size: x-large ;
}
Button {
  margin-left: 30px;
}
.loading-text{
  text-align: center;
  margin-top: 10vh;
}
.item{
  border: 1px solid black;
  margin  : 10px;
  padding:1rem;
  border-radius: 5px;
}