.items {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
}


.item-details {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.item-title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.price-add-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-image{
  width: 263px;
  height: 252px;
}
.item-price{
  font-size: x-large ;
}
Button {
  margin-left: 30px;
}
